root = true

[*.{cs,xaml,csproj,props,targets,resx,xml,config,manifest,ps1,slnx}]
end_of_line = crlf
insert_final_newline = true

[*.{md,json,yml,yaml,sha256}]
end_of_line = lf
insert_final_newline = true
